.contenedor-index,.main-container{
    height: 100%;
    max-width: 1200px;
    background-color:white;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgba(47, 48, 46, 0.897);
    text-decoration: none;
    text-align: center;
}
.menu{
    text-align: start;
}

    .menu {
        height: 20%;
        background-color: white;
        width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        
    }

        #boton-logo{
            background-color: white;
            height: 100%;
        }

        .botones-menu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: no-wrap;
            align-items: center;
            padding: 20px 35px;
            text-decoration: none;
            background-color: rgba(172, 171, 140, 0.466);
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;    
        }

        .boton-menu{
            white-space: nowrap;
            text-align: center;
            font-size: 25px; 
            background-color: #61615963;
            padding: 20px;
            margin: 1%;
            text-decoration: none;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;    
        }

        .boton-menu:hover{
            background-color:#2f30305e;
            color: #b5c5cf;
            size: 14%;
        }
    
    .contenido-principal{
        display: flexbox;
        width: 100%;
        height: 70%;
    }
        .nombre-constructora{
            display: flexbox;
            width: 100%;
            height: 20%;
            box-sizing:content-box;
            font-family: 'Roboto', sans-serif;
            color: rgba(47, 48, 46, 0.897);
            text-align: center;
            align-items: center;
            align-self: center;
            justify-self:center ;
            background-color: rgba(172, 171, 140, 0.466);
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
        }

        .carrousel{
            width: 100%;
        }
        
            .contenido-carrousel{
                width: 100%;
                height: 400px;
                overflow: hidden;
            }
        
            .item-carrousel{
                position: relative;
                width: 100%;
                height: 100%;
            }
        
            .item-carrousel-imagen{
                width: 100%;
                height: 100%;
                display: flex;
                justify-self: baseline;
                background-color:rgba(47, 48, 46, 0.479) ;
            }
        
            .flechas-carrousel{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%; 
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px; 
        }
        
            .flechas-carrousel > i:hover {
                cursor: pointer;
            }
        
                   
            .controlador-carrousel{
                width: 100%;
                display: flex;
                justify-content: center;
            }
        
            .controlador-carrousel > a{
                text-decoration: none;
                font-size: 1em;
                color: rgba(52, 53, 41, 0.719);
                margin: 5px;
            }
        
            .flechas-carrousel > a > i{
                color: white;
            }
        .introduccion{
            display: flexbox;
            align-self: center;
            justify-content: center;
            justify-items: center;
            justify-self: center;
            text-align: center ;
            font-size: large;
        }
    
    .footer{
        width: 100%;
        height: 20%;
    }

        .boton-redes{
            background-color: white;
            width: 40px;
            height: 40px;
            display: inline-block;
            margin: 25px;
            align-self: center;
            align-content: center;
            justify-content: space-around;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;  
        }

        .boton-redes:hover{
            background-color:#2f30305e;
            color: #b5c5cf;
            size: 14%;
        }
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}
.form-container, .form-img{
    margin: 40px 0;
}
.form-img{
    margin: 64px 0;
}
.form-img img{
    min-width: 330px;
    box-shadow: 15px 15px 25px rgb(167, 159, 159);
}
.form-container{
    height: auto;
    background-color:rgba(172, 171, 140, 0.466);
    border: 2px solid rgba(0, 0, 0, 0.479);
    width: 85%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;  
}
.form-container label{
    font-weight: 500;
    color: #000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;  
}
.form-input{
    padding: 6px;
    margin: 10px 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
.form-input:focus{
    border: 3px solid #2f72be;
}
#form-message{
    height: 100px;
    resize: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;  
}
#send-button{
    background-color: #61615963;
    border: none;
    padding: 15px 0;
    transition: all 0.4s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;  
}
#send-button:hover{
    cursor: pointer;
    background-color: rgb(255, 248, 240);
}
.warnings{
    white-space: nowrap;
    font-size: 19px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    margin: 5px auto;
    color: #572658;
    padding-top: 15px;
    line-height: 25px;
}
@media screen and (max-width: 1220px){
    .menu{
        width: 100%;
    }
    .form-img img{
        width: 520px;
    }
    .carrousel{
        margin: 0 auto;
        width: fit-content;
    }
    .contenido-carrousel{
        height: 340px;
    }
}
@media screen and (max-width: 1024px){
    #boton-logo{
        width: 160px;
    }
    .boton-menu{
        font-size: 1.3em;
    }
    #logo{
        width: 200px;
    }
    .form-img img{
        width: 460px;
    }
    .contenido-carrousel{
        height: 280px;
    }
}
@media screen and (max-width: 860px){
    .boton-menu{
        padding: 15px 15px;
        margin-right: 10px;
    }
    #logo{
        width: 180px;
    }
    .botones-menu{
        padding: 20px 15px;
    }
    .form-img img{
        width: 360px;
    }
    .form-container{
        width: 250px;
    }
    .contenido-carrousel{
        height: 240px;
    }
}
@media screen and (max-width: 768px){
    .menu{
        height: auto;
        grid-template-columns: none;
        grid-template-rows: auto auto;
        justify-content: center;
    }
    #boton-logo{
        margin: 0 auto;
    }
    #logo{
        width: 160px;
    }
    .botones-menu{
        padding: 15px 15vw;
        flex-direction: column;
        width: 90vw;
        gap: 10px;
    }
    .boton-menu{
        width: 300px;
        padding: 15px 0;
        font-size: 1.2em;
    }
    .main-container{
        grid-template-columns: none;
        grid-template-rows: auto auto;
        gap: 0;
        justify-content: center;
    }
    .form-img{
        margin-bottom: 20px;
    }
    .form-img img{
        width: 60vw;
    }
    .form-container{
        width: 90vw;
    }
    .carrousel{
        width: 80vw;
    }
    .contenido-carrousel{
        height: 29vw;
    }
    .aboutus-carousel figure{
        min-width: 300px;
    }
}
@media screen and (max-width: 480px){
    .boton-menu{
        width: 220px;
        font-size: 1em;
    }
    .form-img img{
        min-width: 250px;
    }
    .form-container{
        min-width: 250px;
    }
    .nombre-constructora{
        font-size: 20px;
    }
}