.contenedor-index{
    height: 100%;
    width: 100%;
    margin: 0.5%;
    background-color: rgba(54, 54, 54, 0.226);
    border: solid black;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgba(47, 48, 46, 0.897);
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

    .menu {
        display: flex;
        width: 100%;
        height: 20%;
        background-color: #77775446;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

        #boton-logo{
            background-color: white;
            display: block;
            margin: 1px;
            object-fit: contain;
            margin: 0;
            border: solid rgba(0, 0, 0, 0.596);
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px; 
        }

        .botones-menu{
            align-items: center;
            align-self: center;
            width: 80%;
            text-decoration: none;
        }

        .boton-menu{
            font-size: 25px; 
            background-color: #61615963;
            padding: 10px;
            width: 20%;
            height: fit-content;
            display: inline-block;
            margin: 1%;
            justify-content:space-around;
            text-decoration: none;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;    
        }

        .boton-menu:hover{
            background-color:#2f30305e;
            color: #b5c5cf;
            size: 14%;
        }
    
    .contenido-principal{
        display: flexbox;
        width: 100%;
        height: 70%;
    }
        .nombre-constructora{
            display: flexbox;
            width: 100%;
            height: 20%;
            box-sizing:content-box;
            font-family: 'Roboto', sans-serif;
            color: rgba(47, 48, 46, 0.897);
            text-align: center;
            align-items: center;
            align-self: center;
            justify-self:center ;
            background-color: aquamarine;
        }

        .carrousel{
            display: flex;
            box-sizing: border-box;
            width: 80%;
            height: 540px;
            margin: auto;
            position: relative;
            align-self: center;
            align-content: center;
            justify-content: space-around;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;  
            background-color: aqua;
            border: solid black;
        }
            .contenedor-grande-carrousel{
                display: flex;
                align-self: center;
                justify-content: space-evenly;
                background-color: rgb(151, 65, 151);
                width: 80%;
                height: 90%;
               
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;  
            }
            
            .imagenes-inicio-carrousel{
                width: 100%;
                height: 100%;
                align-self: center;
                justify-content:space-around;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;    
                background-color: green;
                overflow: hidden;

            }

            .imagen-carrousel{
                display: flexbox;
                width: fit-content;
                padding: auto;
                background-color: yellow;
            }

            .flechas-carrousel{
                height: 100%;
                width: 100%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px;
            }

            .puntos-carrousel{
                width: 100%;
                background-color: red;
                padding: 0.4em;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-content: center;
                margin: 1em 0 0;
            }
    
    .footer{
        width: 100%;
        height: 10%;
        background-color: red;
    }

        .boton-redes{
            background-color: white;
            width: fit-content;
            height: fit-content;
            display: inline-block;
            margin: auto;
            align-self: center;
            align-content: center;
            justify-content: space-around;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;  
        }

        .boton-redes:hover{
            background-color:#2f30305e;
            color: #b5c5cf;
            size: 14%;
        }


@media all and (max-width=600px){
    /* Menu "hamburguesa"*/
    .menu{ 
        display: grid;
        grid-column: auto auto ;
        grid-row: auto auto auto auto auto auto;
        margin: 0.5%;
        background-color: orange;
        border: solid black;
    }
}